

.user-container{
    position: fixed;
    top: 13vh;
    left: 5%;
    width: 42%;
    height: 30vh;
    background-color: rgb(230, 230, 230); 
    border-radius: 10px;
    border-color: rgba(255, 255, 255, 0.699);
    border-style: ridge;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.img-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 5%;
}

.user-img{
    position: relative;
    border-radius: 50000px;
    height: 60%;
    
}

.numbers-container{
    position: relative;
    right: 10%;
    font-size: 44px;

}