.submission-container{
    position: relative;
    top: 5vh;
    left: 10%;
    width: 80%;
    height: 10vh;
    margin-bottom: 8px;
    background-color: rgb(230, 230, 230); 
    border-radius: 10px;
    border-color: rgba(255, 255, 255, 0.699);
    border-style: ridge;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.submission-area{
    /* position: relative; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;

}

.divvy{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.number2{
    font-size: 38px;
}

#edit{
    background-color: rgb(121, 121, 121);
}

#save{
    background-color:#4eb5f1;
}